{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="login-container">
    <div class="login-section">
        <div class="login-image">
            <img src="{% static 'images/Logon2.png' %}" alt="Login Image">
        </div>
        <div class="login-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            <a href="{% url 'password_reset' %}">Forgot password?</a>
        </div>
    </div>
</div>
{% endblock %}
