{% extends 'base_generic.html' %}

{% block content %}
<div class="privacy-container">
    <h1>Privacy Policy</h1>
    <p>Last Updated: May 14, 2024</p>
    <p>Welcome to Recipe Vault.
        Your privacy is critically important to us.
        This Privacy Policy document contains types of information that is
        collected and recorded by Recipe Vault and how we use it.</p>


    <h2>1. Information We Collect</h2>
    <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>
    <ul>
        <li><b>Personal Data:</b> While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you.</li>
        <li><b>Usage Data:</b> We may also collect information on how the Service is accessed and used.</li>
    </ul>

    <h2>2. Use of Data</h2>
    <p>Recipe Vault uses the collected data for various purposes:</p>
    <ul>
        <li>To provide and maintain our Service</li>
        <li>To notify you about changes to our Service</li>
        <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
        <li>To provide customer support</li>
        <li>To gather analysis or valuable information so that we can improve our Service</li>
        <li>To monitor the usage of our Service</li>
        <li>To detect, prevent and address technical issues</li>
    </ul>

    <h2>3. Publicly Visible Information</h2>
        <p>When you use Recipe Vault, you have the option to make some of your content, such as recipes, public. This section explains what information may be shared publicly and how it is used:</p>
        <ul>
            <li><b>Public Content:</b> If you choose to make a recipe public, this content will be accessible to other users of Recipe Vault and may also be visible to anyone on the internet. Public recipes may include the recipe name, ingredients, instructions, and any associated images you upload. You can see the public at anytime by going to your profile page and clicking the public URL link. </li>
            <li><b>Visibility:</b> Public recipes are accessible to anyone using the Recipe Vault website or app. This includes unregistered visitors and search engines. Public recipes may appear in search results on Recipe Vault and in external search engines.</li>
            <li><b>Control:</b> You have control over whether your recipes are public or private. You can change the visibility of your recipes at any time through your account settings. However, please note that even after removal, copies of public content may remain viewable in cached and archived pages or if other users have copied or saved the information.</li>
        </ul>
        <p>We encourage you to consider carefully what information you disclose in your public recipes. Recipe Vault does not verify the personal information that users choose to share within their public content and is not responsible for the personal information you choose to make public.</p>


    <h2>4. Cookies and Tracking Data</h2>
    <p>We use cookies and similar tracking technologies to track the activity on our Service and we hold certain information.</p>

    <h2>5. Advertising Partners Privacy Policies</h2>
    <p>You may consult this list to find the Privacy Policy for each of the advertising partners of Recipe Vault.</p>

    <h2>6. Google Analytics</h2>
    <p>Recipe Vault uses Google Analytics, a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.</p>
    <p>You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visits activity.</p>
    <p>For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page: <a href="https://policies.google.com/privacy?hl=en" target="_blank" rel="noopener noreferrer">https://policies.google.com/privacy?hl=en</a></p>

</div>
        <style>
    .privacy-container {
        max-width: 800px; /* Adjust width as needed */
        margin: auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: left;
    }

    .privacy-container h1, .privacy-container h2 {
        color: #333;
    }

    .privacy-container-container p, .terms-container ul {
        color: #555;
    }

    .privacy-container ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    /* Additional styling as needed */
</style>
{% endblock %}
