.img-container {
    height: 400px;  /* You can adjust this value according to your needs */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe-image {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.recipe-row {
    margin-bottom: 100px; /* Or any other value you like */
}

.btn-custom {
    background-color: #f8f9fa; /* A light grey background */
    color: #333; /* Dark grey text */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 0.25rem; /* Rounded corners */
    padding: 0.5rem 1rem; /* Top/bottom and left/right padding */
    font-size: 1rem; /* Text size */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.btn-custom:hover {
    background-color: #e2e6ea; /* Slightly darker grey background on hover */
    color: #000; /* Black text on hover */
    text-decoration: none; /* No underline on hover */
}

.btn-custom:focus {
    outline: none; /* Remove the focus outline to match the style */
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5); /* Subtle shadow to show focus */
}

.card {
    height: 500px;
}

.card-body {
    flex: 1;
}

.action-link {
  color: #808080; /* Your specific gray color */
  text-decoration: none; /* Optional: removes the underline */
}

.action-link:hover {
  color: #666666; /* Optionally a darker shade for hover, or keep it the same */
  text-decoration: underline; /* Optional: adds underline on hover */
}

.action-link:visited {
  color: #808080; /* Keep the color the same for visited links */
}

/* Style for the Font Awesome icon */
.fas {
    color: #808080; /* Replace with your specific gray color code */
}

/* Custom CSS classes for the icons to add spacing */
.icon-add-recipe {
    margin-right: 10px; /* Adjust the spacing as needed */
}

.icon-meal-plan {
    margin-left: 10px; /* Adjust the spacing as needed */
}

/* Style for the text within the action card */
.action-card h4 {
    color: #808080; /* Your specific gray color code */
    margin-top: 10px; /* Space between icons and text */
}
.icon-container {
  display: flex;
  justify-content: space-around; /* This ensures equal spacing */
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
    color: #808080; /* Your specific gray color code */

}

.icon-wrapper:hover {
    color: #000; /* Black text on hover */
    text-decoration: none; /* No underline on hover */

}

/* Style for the Font Awesome icons */
.fas {
  color: #808080; /* Your specific gray color code */
  /* Additional styles can go here */
}

.filter-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#filterForm {
    width: 100%;
    max-width: 600px; /* Adjust this value as needed */
}

#mealTypeSelect {
    width: 100%; /* Make the select box full width of the form */
    padding: 10px; /* Add more padding for larger touch targets */
    font-size: 1rem; /* Increase font size for better readability */
    border: 1px solid #ccc; /* Optional: style the border */
    border-radius: 4px; /* Optional: round the corners */
}
