{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Add Recipe</h1>
    <form method="POST" enctype="multipart/form-data" class="recipe-form">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'image_url' %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}

        <!-- Hidden field for image_url -->
        <input type="hidden" id="id_image_url" name="image_url" value="{{ form.image_url.value }}">


        <!-- Generate Image Button and Info Icon -->
        <div class="form-group">
            <button type="button" id="generateImageButton" class="btn btn-info">Generate Image</button>
            <span class="info-icon" data-toggle="tooltip" data-placement="top" title="Use AI to generate an image based on a description of your recipe. Limited to 5 free images per user.">
                <i class="fas fa-info-circle"></i>
            </span>
        </div>

        <div id="imageConfirmation" style="display: none;" class="alert alert-success">
            Generated Image will be saved with your recipe.
        </div>

        <button type="submit" class="btn btn-custom">Submit</button>
    </form>
</div>

<!-- Modal for Image Prompt -->
<div class="modal fade" id="imagePromptModal" tabindex="-1" role="dialog" aria-labelledby="imagePromptModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imagePromptModalLabel">Image Prompt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#promptTips" aria-expanded="false" aria-controls="promptTips">
                    Tips for Creating a Good Prompt
                </button>
                <div class="collapse" id="promptTips">
                    <div class="card card-body">
                        Describe your dish, specify cooking styles, mention important elements, the style of plating or serving dish. <br><br>

                        Example: "Hand made chicken meatballs that are seared to perfection with a side of Jasmine rice and zucchini sautéed. Professionally plated on a white dish. "
                </div>
            </div>
                <input type="text" id="imagePromptInput" class="form-control" placeholder="Enter a description for the image...">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-custom" id="confirmImagePrompt">Generate</button>
            </div>
            <!-- Inside your modal -->
            <div id="imagePreviewSection" style="display:none;">
                <img id="generatedImage" src="" alt="Generated Image" style="display: none;">
                <button id="saveImageButton">Save Image</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Handle Generate Image Button Click
    $('#imagePreviewSection').hide(); // Hide the image container initially
    $('#generatedImage').hide(); // Hide the image initially
    $('#id_image_url').val('');

    var generateImageButton = document.getElementById('generateImageButton');
    var imagePromptModal = $('#imagePromptModal'); // Use jQuery to select the modal
    var confirmImagePrompt = document.getElementById('confirmImagePrompt');

    if (generateImageButton && imagePromptModal) {
        generateImageButton.addEventListener('click', function() {
            console.log("Button clicked"); // This should appear in the console when you click the button
            imagePromptModal.modal('show'); // Use Bootstrap's modal method to show it
        });
    }

    // Handle Confirm in Modal
    if (confirmImagePrompt) {
        confirmImagePrompt.addEventListener('click', function() {

            var userPrompt = imagePromptInput.value;
            // Basic sanitization (for better security, rely on server-side sanitization)
            userPrompt = userPrompt.replace(/<script\b[^<]*(?:(?!<\/script>)<[^<]*)*<\/script>/gi, "");

            console.log(fullPrompt)
            // Check if the prompt is empty
            if (!userPrompt) {
                alert("Please enter a prompt for the image.");
                return; // Stop the function if the prompt is empty
            }


            // Simulate AJAX success without actually making an AJAX call
            var simulatedData = {
                image_url: 'https://via.placeholder.com/1024' // Placeholder image URL
            };

            // Use the simulatedData to set the image source
            $('#generatedImage').attr('src', simulatedData.image_url).show();

            $('#imagePreviewSection').show();
            $('#saveImageButton').show();


            // Optionally, show the image in the modal itself or in another part of your page
            // For example, if you want to show it in the modal before hiding it:
            // $('#imageContainerInModal').html('<img src="' + simulatedData.image_url + '" alt="Generated Image">');

            // Then hide the modal
            //imagePromptModal.modal('hide');

            // Make AJAX call to generate image
            /*$.ajax({
                url: '/generate-image/', // URL to your Django view that handles image generation
                type: 'POST',
                data: {
                    'prompt': imagePrompt,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val() // CSRF token for Django
                },
                success: function(data) {
                    // On success, show the generated image
                    // Assuming you have an <img> element to display the image

                    //$('#generatedImage').attr('src', data.image_url);

                    // Optionally, you can show the image in the modal itself or in another part of your page
                    // For example, if you want to show it in the modal before hiding it:
                    // $('#imageContainerInModal').html('<img src="' + data.image_url + '" alt="Generated Image">');

                    // Then hide the modal
                    imagePromptModal.modal('hide');
                },
                error: function(xhr, status, error) {
                    // Handle any errors here
                    console.error("Error in AJAX request:", status, error);
                }
            });*/
        });
    }
    $('#saveImageButton').click(function() {
        var generatedImageUrl = $('#generatedImage').attr('src'); // Get the URL of the generated image
        console.log(generatedImageUrl); // Check if the URL is captured correctly
        if (generatedImageUrl) {
            $('#id_image_url').val(generatedImageUrl);
            $('#imageConfirmation').show();

        } else {
            $('#id_image_url').val(''); // Clear the field if no image is generated
        }

        // Close the modal or perform other actions as needed
        $('#imagePromptModal').modal('hide');
    });


});

</script>
{% endblock %}


