{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <h1>Create a New Meal Plan</h1>
    <form method="POST" class="meal-plan-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-custom">Submit</button>
    </form>
</div>
    <style>
    .container {
    max-width: 700px;
    margin: auto;
    padding: 0 20px; /* This padding is to ensure the content inside is aligned */
}
    h1 {
    padding: 30px;
    margin: 0;}

    </style>
{% endblock %}

