{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <h1>Edit Recipe</h1>
    <form method="POST" enctype="multipart/form-data" class="recipe-form">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'image_url' %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
        <input type="hidden" id="id_image_url" name="image_url" value="{{ form.image_url.value }}">

        <button type="submit" class="btn btn-custom">Update</button>
    </form>
</div>
{% endblock %}
