{% extends 'base_generic.html' %}

{% block content %}
<div class="container mealplan-edit">
    <h1>Edit Meal Plan</h1>
    <form method="POST" action="{% url 'edit_mealplan' mealplan.id %}" class="mealplan-form">
        {% csrf_token %}

        {% for form, mealday in forms_mealdays %}
            <div class="meal-day">
                <p><strong>Day:</strong> {{ mealday.day }}</p>
                <p><strong>Meal Type:</strong> {{ mealday.get_meal_type_display }}</p>
                <div class="form-group">
                    <label for="{{ form.recipe.id_for_label }}">Recipe:</label>
                    {{ form.recipe }}
                </div>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-custom">Save</button>
    </form>
</div>
{% endblock %}
