{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <!-- User profile section -->
        <div class="row">
            <div class="col-md-6">
                <h1>{{ user.username }}</h1>
            </div>
            <!-- removeing buttons
            <div class="col-md-6">
                <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="profile_picture">
                    <button type="submit">Upload</button>
                </form>
            </div> -->
        </div>

        <!-- Recipe section -->
        <div class="row">
            <!-- Add new recipe block -->
            <div class="col-md-4">
                <div class="card">
                    <a href="{% url 'add_recipe' %}">
                        <img src="{% static 'images/add-recipe.png' %}" class="card-img-top" alt="Add new recipe">
                    </a>
                </div>
            </div>

            <!-- Existing recipes blocks -->
            {% for recipe in recipes %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.name }}</h5>
                        <a href="/recipe/{{ recipe.id }}" class="btn btn-primary">View Recipe</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
