{% extends 'base_generic.html' %}

{% block content %}
    <div class="content-wrapper">
    <h1>My Profile</h1>
    <div class="profile-containerP">
    <div class="cardP">
        <h3>Profile Information</h3>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
        <!-- Display messages -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Profile Form Card -->
        <div class="grid-containerP">
            <div class="cardP">
                <h3>CookBook Name</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ profile_form.as_p }}
                    <button type="submit" class="btn-link-like">Save Name</button>
                </form>
            </div>
        </div>

        <!-- Password Change Card -->
        <div class="grid-containerP">
            <div class="cardP">
                <h3>Password Change</h3>
                <a href="{% url 'password_change' %}">Change Password</a>
            </div>
        </div>

        <!-- Subscription Section Card -->
        <div class="grid-containerP">
            <div class="cardP">
                <h3>Subscription</h3>
                <p>Subscription Status:
                    {% if user.profile.has_subscription %}
                        <strong>Active</strong>
                        <div class="subscription-management-link">
                            <a href="{% url 'subscription_manage' %}">Manage Subscription</a>
                        </div>
                    {% else %}
                        <strong>Not Subscribed</strong>
                        <div class="subscription-signup-link">
                            <a href="{% url 'subscription-page' %}" class="btn btn-info">Sign up for Subscription</a>
                        </div>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    </div>

    <style>

.content-wrapper {
    max-width: 600px;
    margin: auto;
    padding: 0 20px; /* This padding is to ensure the content inside is aligned */
}

h1 {
    padding: 0;
    margin: 0; /* Remove margin to align with the start of the content */
}
.profile-containerP {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.grid-containerP {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust minmax as needed */
    gap: 20px; /* Space between grid items */
}

.btn-link-like {
    background: none;
    color: #17a2b8;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
}

.btn-link-like:hover,
.btn-link-like:focus {
    text-decoration: underline;
}


.cardP {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    /* Remove margin-bottom if previously set */
}

a {
    color: #17a2b8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.messages p {
    color: red;
    margin: 10px 0;
}
@media (max-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 95%; /* Adjust the percentage as needed */
    }
    p {
        font-size: 85%; /* Adjust the percentage as needed */
    }
    /* If you have specific classes for text, adjust them as well */
    .your-text-class {
        font-size: 80%; /* Example adjustment */
    }
}


    </style>
{% endblock %}
