{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
<div class="container recipe-view">
    <h2>{{ recipe.name }}</h2>

    <!-- Recipe Content Wrapper -->
    <div class="recipe-content">

        <!-- Recipe Image -->
        {% if recipe.image %}
        <!-- Recipe Image -->
        <div class="recipe-image">
            {% if recipe.image_url %}
                <!-- If image_url is available, use it -->
                <img src="{{ recipe.image_url }}" class="img-fluid" alt="{{ recipe.name }}">
            {% elif recipe.image %}
                <!-- Else, use the uploaded image file -->
                <img src="{{ recipe.image.url }}" class="img-fluid" alt="{{ recipe.name }}">
            {% endif %}
        </div>

        {% endif %}

        <!-- Recipe Details -->
        <div class="recipe-details">
            <p><strong>Meal Type:</strong> {{ recipe.meal_type }}</p>
            <p><strong>Rating:</strong> {{ recipe.rating }}</p>
            <p><strong>Ingredients:</strong></p>
            <p>{{ recipe.ingredients|linebreaksbr }}</p>
        </div>
    </div>

    <!-- Edit and Delete Buttons -->
    {% if user.is_authenticated and user == recipe.user %}
    <div class="recipe-actions">
        <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-custom">Edit Recipe</a>
        <form action="{% url 'delete_recipe' recipe.id %}" method="POST" class="delete-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Recipe</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}

