{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
<div class="recipe-view">
    <h2>{{ recipe.name }}</h2>
    <div class="recipe-image2">
        {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
        {% endif %}
    </div>
<div class="recipe-details">
    <p><span class="recipe-header">Ingredients:</span></p>
    <p>{{ recipe.ingredients|linebreaksbr }}</p>
    <p><span class="recipe-header">Instructions:</span></p>
    <p>{{ recipe.instructions|linebreaksbr }}</p>
    <p><span class="recipe-header">Meal Type:</span> {{ recipe.meal_type }}</p>
    <p><span class="recipe-header">Rating:</span> {{ recipe.rating }}</p>
</div>

<!-- Edit and Delete Buttons -->
{% if user.is_authenticated and user == recipe.user %}
<div class="recipe-actions">
    <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-custom">Edit Recipe</a>
    <form action="{% url 'delete_recipe' recipe.id %}" method="POST" class="delete-form" onsubmit="return confirmDelete();">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Recipe</button>
    </form>
</div>
{% else %}
<!-- Copy Recipe Button -->
<div class="recipe-actions">
    <form action="{% url 'copy_recipe' recipe.id %}" method="POST" class="copy-form">
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Add Recipe</button>
        <a href="{% url 'user_profile' id=user.id %}" class="btn-custom">View Creator's Profile</a>

    </form>
</div>
{% endif %}

</div>
    <style>
    .recipe-view {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        text-align: center;
    }
    .recipe-image2 img {
        max-width: 100%; /* Makes image responsive */
        height: auto; /* Maintain aspect ratio */
        margin-bottom: 20px; /* Space between image and text */
    }
    .recipe-details {
        text-align: left; /* Align text to the left for readability */
    }
    .recipe-header {
        font-size: 1.2em; /* Adjust the size as needed */
        font-weight: bold; /* Ensure it's bold, similar to <strong> */
        display: block; /* Gives it its own line */
        margin-top: 20px; /* Optional: Adds space above the header */
    }
    .recipe-actions {
        text-align: center; /* Center-align the buttons */
        margin-top: 20px; /* Add some space above the buttons */
    }

    .recipe-actions a.btn, .recipe-actions form.delete-form {
        margin-right: 10px; /* Add some space between the buttons */
    }

    /* If you're not using a framework that automatically styles buttons inline, add this */
    .recipe-actions form.delete-form {
        display: inline-block; /* Display form inline with the link */
    }

</style>

    <script>
function confirmDelete() {
    return confirm("Are you sure you want to delete this recipe? This action cannot be undone.");
}
</script>

{% endblock %}

